html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login, #user-card {   
    display:none;
    align-items: center;    
    width: 200px;
}
#profile-pic {
    border-radius: 50%;
}